/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #171D20;
    background-alt: #171D20;
    foreground:     #BDE6FB;
    selected:       #BDE6FB;
    active:         #BDE6FBFF;
    urgent:         #BDE6FBFF;
}
